datasets==3.5.1
Fraction==2.2.0
huggingface-hub==0.30.2
multiprocess==0.70.16
ninja==1.11.1.4
nltk==3.9.1
numpy==1.26.4
openai==1.77.0
pandas==2.2.3
tokenizers==0.21.1
torch==2.3.0
tqdm==4.67.1
transformers==4.51.3
vllm==0.5.1
word2number==1.1
xformers==0.0.26.post1
pebble==5.1.1
timeout_decorator==0.5.0
seaborn==0.13.2